
@{
    ViewBag.Title = "Dashboard";
}

<h2>Index</h2>

@Html.ActionLink("User management","Users","Dashboard") <br />
@Html.ActionLink("Products management","Index","Catalogue") <br />
@Html.ActionLink("Role management","Roles","Dashboard")

