@{
    ViewBag.Title = "Contact";
}
<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <span class="glyphicon glyphicon-info-sign" style="font-size:24px;color:cornflowerblue;padding-right:10px"></span>
            <span class="">Mirjana Jevtić</span>
            <br />
            <span class="glyphicon glyphicon-map-marker" style="font-size:24px;color:indianred;padding-right:10px"></span><span class="">Kaonik, Kruševac</span>
            <br />
            <span class="glyphicon glyphicon-earphone" style="font-size:24px;color:red;padding-right:10px"></span><span><a href="tel:+(381)69-215-7115">+(381)069-215-7115</a><br /><a href="tel:+(381)064-215-7115">+(381)064-215-7115</a></span><br />
            <span class="glyphicon glyphicon-envelope" style="font-size:24px;color:orange;padding-right:10px" ></span><span><a href="mailto:mirjana.jevtic322@gmail.com">mirjana.jevtic322@gmail.com</a><br /><a href="mailto:velikabatalija@gmail.com">velikabatalija@gmail.com</a></span>
        </div>
    </div>
</div>